@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.title{
    height: 10vh;
    display: flex;
    font-family: 'Inconsolata', monospace;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    flex-wrap: wrap;
}

.img{
    width: 100%;
    max-width: 500px;
}

.text{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 40px;
    max-width: 400px;
    margin-bottom: 35px;
}

.parrafo{
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    max-width: 300px;
    margin-bottom: 40px;
    line-height: 25px;
}

.btn{
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 14px;
    color: white;
    background-color: #333333;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
}

.footer{
    text-align: center;
    color: #BDBDBD;
}

@media (max-width: 996px) {
    .footer{
        margin-top: 250px;
    }
}

@media (max-width: 530px) {
    .footer{
        margin-top: 200px;
    }
}

span{
    color: #887f7f;
    text-decoration: underline;
}


